body{
    font-family: 'Poppins', sans-serif;
}
.container{
    margin-bottom: 100px;
}
#navbar{
    margin-bottom: 10px;
}
.section-bg{
    background-image: url('images/bg-1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60px;
    position: relative;
    
}
.section-bg2{
    background-image: url('images/bg-2.png');
    background-position-x: left;
    background-position-y: bottom;
    background-size: 110px;
    background-repeat: no-repeat;
    padding-left: 70px;
}
.see-all{
    color: rgb(228, 131, 21);
}
.buy-now-button{
    background-color: black;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 25px;
}
.carousel-item p{
    color: gray;
}
.card{
    border: none;
    margin: 10px 10px;
    padding: 10px 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px lightgray;
    text-align: center;
}
.card img{
    padding: 12%;
}
#laptop{
    margin-top: 100px;
}
#laptop p{
    color: gray;
}
.card-footer{
    background-color: white;
    border-top: none;
}
#categories h1{
    text-align: center;
}
#categories .card{
    margin: 10px 0px;
    box-shadow: 2px 5px 5px lightgrey;
}




